[Desktop Entry]
Version=1.0
Type=Application
Name=git-gui
Comment=
Exec=git-gui
Icon=/sd-root/tools-current/git/share/git-gui/lib/git-gui.ico
Path=
Terminal=false
StartupNotify=false
